HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
##application.yml
application.yml

##compose
src/main/resources/docker-compose.yml
*/docker-compose.yml
docker-compose.yml
docker-compose-test.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Docker Compose
docker-compose.yml

# Spring Boot config
application.yml
application-*.yml

### VS Code ###
.vscode/
src/main/resources/application.yml

db_data/
*.dblwr

#env
.env
.DS_Store


#AIModel

# 가상환경 (Virtual Environment)
AI/

# 데이터베이스 (ChromaDB 및 SQLite)
chroma_db/
chroma_db_path/
*.sqlite3

# 로그 및 데이터
scripts/*.log

# 파이썬 캐시
__pycache__/
*.py[cod]

# fastapi 연동을 위해 필요한 파일들
Dockerfile
requirements.txt

# 로그 출력 파일
build_index.log

# 테스트 파일
test.ipynb
